# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
.venv/
build/
dist/
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Node/React
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# FAISS index files
*.faiss
*.index

# Test outputs
htmlcov/
.coverage
.pytest_cache/

# Logs
*.log

# Misc
*.sqlite3
